<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.horsefarmer.easyaidl">

    <application>
        <service
            android:name=".EasyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="easyaidl.intent.action.service" />
            </intent-filter>
        </service>
    </application>
</manifest>